.app {
    display: grid;
    height: 93vh;
    padding: 1.5rem;
    &__container {
      display: grid;
      grid-template-columns: 200px 1fr;
      grid-template-rows: min-content 1fr;
      background-color: rgb(245, 238, 231);
      border-radius: 20px;
      padding: 1rem;
      overflow: hidden;
    }
  }
  