.games {
    height: 94%;
    overflow: auto;
    list-style-type: none;
    &__title {
        font-weight: bold;
        font-family: sans-serif;
        font-style: italic;
        padding: 0.5rem;
        transition: background-color 0.5s;
        &:hover, &--selected {
            background-color: #b33441;
            transition: background-color .3s;
            cursor: pointer;
            color: white;
        }
    }
}