.header {
    grid-column: 1 / span 2;
    text-align: center;
    margin-bottom: 2rem;
    // for fun just a test
    img {
        position: absolute;
        max-width: 100px;
        margin-left: -52.5rem;
        top: 170px;
        animation: logo infinite 20s linear;
        transition-duration: 0.8s;
        transition-property: transform;
    }
    img:hover {
        transform: rotate(360deg);
    }
    &__title {
        color: #b33441;
        font-size: 1.5em;
        margin-bottom: 1rem;
    }
    &__game-number {
        font-size: 1.2em;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    &__input {
       width: 50vw;
       text-align: center;
       border: none;
       border-bottom: 1px solid rgb(168, 14, 14);
       font-size: 1em; 
       font-family: inherit;
       padding: 1rem;
       background-color: rgb(245, 238, 231);
    }
}
